<a href="https://colab.research.google.com/github/umesh9883/python-programming/blob/main/Python_Crash_Course_1_Live_Class_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Python

`print()` is a function in python which takes a string and will print the content on the console.

We also have comments which can be used in Python, whatever is represented as comments will never be processed by Python.

Remember, comments are essential for making your code readable and understandable, especially for yourself and others who may read your code in the future. Use them to explain your thought process, document important details, and clarify complex parts of your code.

In [ ]:
"""
This is a multi-
line comment using triple quotes
and this will never be executed by python.
"""

# Also this is a single-line comment

print("This will be printed on the console")

print("Hello") # This is an in-line comment

This will be printed on the console
Hello

# Variables & Data Types

In [ ]:
name = "Alice" # String data type

age = 18 # integer data type

has_license = True # boolean data type

cgpa = 3.8 # float data type

print(name)
print("Current age:", age)

# Creating / modifying variables

updated_age = age + 5

print("New updated age:", updated_age)

print(type(age))

print(type(name))

print(type(has_license))

print(type(cgpa))

Alice
Current age: 18
New updated age: 23
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

We can declare strings using single quotes or double quotes. Also below are examples which will show how you can use a single quote or double quote or both inside a string. If you want to use any of the quote inside the string you can always use `\` which is called an escape character which will escape the `"` or `'`. Below are the examples:

In [ ]:

greeting_double_quotes = "She said, 'Hello, World!'"

greeting_single_quotes = 'He said, "Hello, World!"'

greeting_escape_character = "She said, \"Hello, World!\" from \'Python\'"

greething_with_single_quotes='''She said, Hello World!'''


print(greeting_double_quotes)

print(greeting_single_quotes)

print(greeting_escape_character)

print(greething_with_single_quotes)

She said, 'Hello, World!'
He said, "Hello, World!"
She said, "Hello, World!" from 'Python'
She said, Hello World!

# Arithmetic Operators

We will perform all the arithmetic operations available in python and see the results. Below are all the operations.

We will consider two variables `a` and `b`. For each operation we will create a new variable to store the result and print it at the end.

You can also observe that floor division and divison operation gives `int` and `float` values respectively.

In [ ]:
a = 10

b = 4

addition = a + b # Adding of 2 numbers

subtraction = a - b # Subtracting of 2 numbers

multiplication = a * b # Multiplication of 2 numbers

division = a / b # Division of 2 numbers

floor_division = a // b # Integer part of the division operation

remainder = a % b # returns the remainder of the division operation

power = a ** b # returns by performing a to the power of b


print("addition of a and b is:", addition)

print("subtraction of a and b is:", subtraction)

print("multiplication of a and b is:", multiplication)

print("division of a and b is:", division)

print("Division ",type(division)) # This should be float

print("floor_division of a and b is:", floor_division)

print(type(floor_division)) # This should be int

print("remainder of a and b is:", remainder)

print("power of a and b is:", power)

print("type of division result:", type(division)) # Python implicitly converts it to float type for division operation

addition of a and b is: 14
subtraction of a and b is: 6
multiplication of a and b is: 40
division of a and b is: 2.5
<class 'float'>
floor_division of a and b is: 2
<class 'int'>
remainder of a and b is: 2
power of a and b is: 10000
type of division result: <class 'float'>

# Assignment Operators

Assignment operators in Python are used to assign values to variables. They combine an operation with assignment.

We can use any arithmetic operator followed by `=` which makes it in-place assignment operation, For example: `+=` adds the right operand to the left operand and assigns the result to the left operand. It is a shorthand notation for updating the value of a variable by adding another value to it. Below are the examples:

In [ ]:
# Examples of Assignment Operators
a = 10

# Assign value
b = a
print(b)

# Add and assign value
b = b + 10  # 20


#Use += to add 10 to the existing value of b
b += 10  # b = b + 10

print(b)

b /= 10 #option 1
b = b / 10 #option 2

# Subtract and assign value
b -= a  # b = b - a
print(b)

# multiply and assign
b *= a
b = b * a
print(b)

10
30
-9.7
-970.0

# Comparison Operators

Comparison operators in Python are used to compare values and expressions, and they return a Boolean result (True or False). These operators play a crucial role in controlling the flow of a program, making decisions based on conditions, and expressing relationships between different values.

In [ ]:
a = 40
b = 30

# a > b is False

x = a > b # False
print(x)

# a < b is True
print(a < b)

# a == b is False
print(a == b)

# a != b is True
print(a != b)

# a >= b is False
print(a >= b)

# a <= b is True
print(a <= b)

True
False
False
True
True
False

# Logical Operators

In [ ]:

a = True
b = False



# Print a and b is False
print(a and b)

# Print a or b is True
print(a or b)

# Print not a is False
print(not a)

print(not b)

False
True
False
True

In [ ]:

a = True
b = False

c = a or b # || in other languagaes
d = a and b  # && in other languages

a += 1

print(c)
print(d)

True
False

# If Else Statements

The below code is to find whether the given number is even or odd using conditional statements

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1, 10, 2):
  print(i,end=' ')

1 3 5 7 9

In [ ]:
a = None
a = 10

# if-else
"""
if a % 2 == 0:
    print("Hey its even")
else:
    print("Hey its odd")
print("It might be even or odd, I will always be executed")
"""

if (a > 5 and a is not None):
  print("Helllo")
else:
  print("I am bad")


for i in range(1, 10, 2):
  if i <= 5:
    print("Cold", i)
    continue
  if i >= 5:
    print("hot", i)
    break

Helllo
Cold 1
Cold 3
Cold 5
hot 7

The below code is find the grade of a student from the score.

In [ ]:
# if else statements to find the Grade of a student based on the exam score

score = 91

# Check the grade based on the score
if score >= 90:
    # Grade A: If the score is 90 or above
    print("Grade: A")
elif score >= 80:
    # Grade B: If the score is between 80 and 89
    print("Grade: B")
elif score >= 70:
    # Grade C: If the score is between 70 and 79
    print("Grade: C")
elif score >= 60:
    # Grade D: If the score is between 60 and 69
    print("Grade: D")
else:
    # Grade F: If the score is below 60
    print("Grade: F (Fail)")

Grade: A

The below code is find out whether the given number is positive, negative or zero.

In [ ]:
number = 1

# if-elif-else
if number > 0:
   print("Positive number")
   print("Inside if block")

elif number < 0:
    print("-ve number")
    print("Inside if else")

else:
    print("Zero")
    print("Inside else")

Positive number
Inside if block

The below code is to find out what traingle type it is given the length of all 3 sides of a traingle

In [ ]:
# Triangle type example based on sides
side1 = 10
side2 = 10
side3 = 10

# Check triangle type
if side1 == side2 == side3:
    print("Equilateral Triangle: All sides are equal.")
elif side1 == side2 or side1 == side3 or side2 == side3:
    print("Isosceles Triangle: Two sides are equal.")
else:
    print("Scalene Triangle: No sides are equal.")

The below code takes 3 values and checks whether they form a Pythagorean Triplet or not.

In [ ]:
# Pythagorean triplet example
a = 3
b = 4
c = 5

# Check if it forms a Pythagorean triplet
if a**2 + b**2 == c**2 or a**2 + c**2 == b**2 or b**2 + c**2 == a**2:
    print("The numbers form a Pythagorean triplet.")
else:
    print("The numbers do not form a Pythagorean triplet.")

The numbers form a Pythagorean triplet.

A simple calculator which takes input from the user to perform the desired calculation. You might not know `input()`  function and wonder how it works don't worry that will be covered in the coming slides. For now consider it as blackbox which allows you to take input from the user.

The below python program based on the choice you have provided performs either of the following operations.
1. Addition
2. Subtraction
3. Multiplication
4. Division

In [ ]:
# This is a simple calculator using if-else statements and input() function.

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

# take input from the user
choice = input("Enter choice(1/2/3/4): ")

# check if choice is one of the four options
if choice in ('1', '2', '3', '4'):
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == '1':
        print(num1, "+", num2, "=", num1 + num2)

    elif choice == '2':
        print(num1, "-", num2, "=", num1 - num2)

    elif choice == '3':
        print(num1, "*", num2, "=", num1 * num2)

    elif choice == '4':
        print(num1, "/", num2, "=", num1 / num2)

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 10
Enter second number: 20
10.0 - 20.0 = -10.0

In [ ]:
# nested if-else

a = 9

if a % 2 == 0:
    if a % 5 == 0:
        print("It is even and also divisible by 5")
    elif a % 6 == 0:
        print("it is even and also divisible by 6")
    else:
        print("it is an even number, not divisible by 5 and 6")
else:
    if a % 3 == 0:
        print("it is odd and also divisible by 3")
    else:
        print("It is odd but not divisible by 3")

it is odd and also divisible by 3

# Loops

In [ ]:
for i in range(10): # for (int i=0; i<10; i++)
    print("Hello world")
    print(i)

Hello world
0
Hello world
1
Hello world
2
Hello world
3
Hello world
4
Hello world
5
Hello world
6
Hello world
7
Hello world
8
Hello world
9

In [ ]:
for i in range(10, 20): # for (i=10; i<20; i++)
    print(i)


print("")
for i in range(0, 20, 3): # for (i=1; i<20; i = i+2)
    print(i)

10
11
12
13
14
15
16
17
18
19
0
3
6
9
12
15
18

In [ ]:
# while loop

i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

Program to Check Whether a Number is Prime or not

In [ ]:
# program tells whether the given number is a prime number or not.


# Take user input
user_input = int(input("Enter a number: "))
flag = True

if user_input <= 1:
    flag = False
elif user_input == 2:
    flag = True
elif user_input % 2 == 0:
    flag = False
else:
    # Check for factors from 3 to the square root of the number
    for i in range(3, int(user_input**0.5) + 1, 2):
      if user_input % i == 0:
        flag = False
        break

if flag:
    print(f"{user_input} is a prime number.")
else:
    print(f"{user_input} is not a prime number.")

Enter a number: 11
3
11 is a prime number.

A Python program which finds whether a given number is Armstrong number.

An Armstrong number (also known as a narcissistic number, pluperfect digital invariant, or pluperfect number) is a number that is the sum of its own digits each raised to the power of the number of digits.
Ex: 153 -> 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153.

Sharing 2 different solutions to solve the same problem.

In [ ]:
# Solution 1: Python program to check if the number is an Armstrong number or not

# take input from the user
num_str = input("Enter a number: ")
num = int(num_str)
n = len(num_str)
# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** n
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

print("dfsfd", end=" end ")

Enter a number: 25
25 is not an Armstrong number
dfsfd end

Python program to find numbers that are divisible by 7 but not by 5 in the range from 2000 to 3500

In [ ]:
# Initialize an empty list to store the result
result_numbers = []

# Loop through the range 2000 to 3500 (inclusive)
for num in range(2000, 3501):
    # Check if the number is divisible by 7 and not divisible by 5
    if num % 7 == 0 and num % 5 != 0:
        # Add the number to the result list
        result_numbers.append(num)

# Display the result
print("Numbers divisible by 7 but not by 5 in the range 2000 to 3500:")
print(result_numbers)

Numbers divisible by 7 but not by 5 in the range 2000 to 3500:
[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, 3206, 3213, 3227, 3234, 3241, 3248, 3262, 3269, 3276, 3283, 3297, 3304, 3311, 3318, 3332, 3339, 3346, 3353, 3367, 3374, 3381, 3388, 3402, 3409, 3416, 3423, 3437, 3444, 3451, 3458, 3472, 3479, 3486, 3493]

This Python program takes a number as input andr returns true if the sum of its digits has the same parity as the entire number. (Here same parity is whether they are even or odd). Else would return false.

In [ ]:
# "Create a function that takes a number as input and returns True if the sum of its digits has the same parity as the entire number. Otherwise, return False.
# parity_analysis(243) ➞ True  # 243 is odd and so is 9 (2 + 4 + 3)
# parity_analysis(12) ➞ False  # 12 is even but 3 is odd (1 + 2)"

number = int(input("Enter number: "))
number_str = str(abs(number))
digit_sum = 0

for digit in number_str:
  digit_sum += int(digit)

    # Check if the sum has the same parity as the entire number
print(number % 2 == digit_sum % 2)

Enter number: 12
False

The below python program helps you to calculate factorial of a given number.

Factorial - Calculating the factorial of a number involves multiplying all positive integers up to that number.
Here's a simple Python program to calculate the factorial of a given number.

In [ ]:
def hello(name:str = "abc") -> str:
  return "Hello, " + name + "!"
print(hello(input("What is your Name ")));
print(hello())

What is your Name kj
Hello, kj!
Hello, abc!

In [ ]:

# Factorial of the given number.
number = int(input("Enter a number: "))
result = 1
for i in range(2, number + 1):
    result *= i

print(f"The factorial of {number} is {result}")

Enter a number: 1
The factorial of 1 is 1

# Python Functions / Methods

Here are various examples on how we can use functions / Methods in Python.

## Basic Function

In [ ]:
def greet():
  print("Hello, World!")


greet() # calling a function.

Hello, World!

## Function With Parameters

In [ ]:
def add_numbers(a, b): # parameters
  return a + b

result = add_numbers(5, 3) # arguments
print(result)
print(add_numbers("Hello", "World"))

8
HelloWorld

## Default Parameter Values

In [ ]:
def greet(name="Guest"):
  print(f"Hello, {name}")

greet()
greet("Alice")

Hello, Guest
Hello, Alice

##Return Multiple Values

In [ ]:
def get_square_and_cube(x)->int:
  return "Alice", x ** 2, x ** 3

name, square, cube = get_square_and_cube(3)
print("Square:", square)
print("Cube:", cube)
print("Name:", name)

Square: 9
Cube: 27
Name: Alice

## Variable Number of Arguments
Handling variable number of arguments using `*args`

In [ ]:
def add_all(*args):
  print(type(args))
  result = 0
  for num in args:
    result += num
  return result

result = add_all(1, 2, 3, 4, 5)
print(result)

result = add_all(1, 2, 3)
print(result)

<class 'tuple'>
15
<class 'tuple'>
6

## Keyword Arguments

In [ ]:
def display_info(name, age):
  print(f"Name: {name}, Age: {age}")

display_info(age=25, name="Alice")

Name: Alice, Age: 25

# Scope of Variables

## Local Scope

In [ ]:
def my_function():
    # Variable 'x' is defined within the function
    x = 10
    print("Inside my_function:", x)

# Call the function
my_function()

# Attempting to access 'x' outside the function will result in a NameError
# print("Outside my_function:", x)

## Enclosing (Nonlocal) Scope

In [ ]:
def outer_function():
    x = 10  # Variable in the enclosing scope

    def inner_function():
        nonlocal x  # Accessing variable 'x' from the enclosing scope
        x += 5
        print("Inside inner_function:", x)

    return inner_function()  # Call the inner function

    print("Outside inner_function:", x)  # 'x' modified in the inner function

# Call the outer function
outer_function().inner_function()

## Global Scope

In [ ]:
# Variable 'x' is defined in the global scope
x = 10

def my_function():
    print("Inside my_function:", x)  # Accessing 'x' from the global scope

# Call the function
my_function()

print("Outside my_function:", x)  # 'x' accessible outside the function

## Modifying Global Variable Inside Function

In [ ]:
x = 10  # Define a global variable

def modify_global():
    global x  # Declare 'x' as global within the function
    x += 5
    print("Inside modify_global:", x)

# Call the function to modify the global variable
modify_global()

print("Outside modify_global:", x)  # 'x' has been modified globally

# Python Lists
Here are all the examples on how lists works in Python, with commonly used list methods.

## List Declaration and Initialization

In [ ]:
# Empty list
empty_list = []

# List with elements
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]

# Mixed-type list
mixed_list = [1, "hello", 3.14, True]

# Nested list
nested_list = [[1, 2, 3], ["a", "b", "c"]]

print(empty_list)
print(numbers)
print(fruits)
print(mixed_list)
print(nested_list)

[]
[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]
[[1, 2, 3], ['a', 'b', 'c']]

## Accessing Elements

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Accessing elements by index
print(numbers[0])  # Output: 1
print(numbers[-1])  # Output: 5
print(numbers[2])

1
5
3

## Iterating over a list

In [ ]:
my_list = ["apple", "banana", "cherry", "kiwi"]

for element in my_list:
  print(element)


print("\nFor loop via index based:\n")
for i in range(len(my_list)):
  print(my_list[i])

apple
banana
cherry
kiwi

For loop via index based:

apple
banana
cherry
kiwi

## List Concatenation and Repetition

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenation
combined_list = list1 + list2
print(combined_list)

repeated_list = list1 * 3
print(repeated_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## List Comprehensions

In [ ]:
# Squares of numbers from 1 to 5
squares = [x**2 for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
items = [2,3, "ddsfsd"]
ditem = items.copy()
items[2] = 4
print(ditem[2])

ddsfsd

In [ ]:
mystr = "Hello"
print(mystr[-1])
print(id(mystr[-1]))

o
136782285002992

## List Slicing

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Slicing
print(numbers[1:4])  # Output: [2, 3, 4]

[2, 3, 4]

## Membership Testing

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Check if an element is in the list
is_3_present = 3 in numbers # This gives a boolean value if present gives True else would give False
print(is_3_present)  # Output: True

is_7_present = 7 in numbers
print(is_7_present)

True
False

## List Methods

In [ ]:
# Append
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)  # Output: [1, 2, 3, 4]



# Extend
numbers.extend([5, 6])
print(numbers)  # Output: [1, 2, 3, 4, 5, 6]



# Insert
numbers.insert(2, 99)
print(numbers)  # Output: [1, 2, 99, 3, 4, 5, 6]



# Remove
numbers.remove(3)
print(numbers)  # Output: [1, 2, 99, 4, 5, 6]



# Pop
popped = numbers.pop()
print(popped)   # Output: 6
print(numbers)  # Output: [1, 2, 99, 4, 5]



# Index
index = numbers.index(99)
print(index)    # Output: 2



# Count
count = numbers.count(4)
print(count)    # Output: 1



# Sort
numbers.sort()
print(numbers)  # Output: [1, 2, 4, 5, 99]



# Reverse
numbers.reverse()
print(numbers)  # Output: [99, 5, 4, 2, 1]



# Copy
numbers_copy = numbers.copy()

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 99, 3, 4, 5, 6]
[1, 2, 99, 4, 5, 6]
6
[1, 2, 99, 4, 5]
2
1
[1, 2, 4, 5, 99]
[99, 5, 4, 2, 1]

## Coding Questions

### Filter Even Numbers
Write a function that takes a list and returns a new list containing only the even numbers from the original list

In [ ]:
def filter_even_numbers(numbers):
  even_numbers = []
  for number in numbers:
    if number % 2 == 0:
      even_numbers.append(number)
  return even_numbers

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = filter_even_numbers(original_list)
print(result_list)  # Expected output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

### Greet People differently
Write a function that takes two parameters - a list of names and a default greeting message. The function should print a personalized greeting for each name using the provided or default greeting.

In [ ]:
def greet_people(names, greeting="Hello"):
  for name in names:
    print(f"{greeting}, {name}")

# Example usage:
name_list = ["Alice", "Bob", "Charlie"]
greet_people(name_list)  # Should print default greetings
greet_people(name_list, "Hi")  # Should print personalized greetings with "Hi"

Hello, Alice
Hello, Bob
Hello, Charlie
Hi, Alice
Hi, Bob
Hi, Charlie

### Average of given numbers
Write a function called average that takes a variable number of arguments and returns the average of those arguments.

In [ ]:
def average(*args):
  sum = 0
  for arg in args:
    sum += arg
  return sum / len(args)

# Example usage:
result = average(1, 2, 3, 4, 5)
print(result)  # Expected output: 3.0

3.0

### Find Duplicates
Write a program to find whether the list has duplicates or not.

In [ ]:
def find_dup(my_list):
  for item in my_list:
    if my_list.count(item) > 1:
      return True
  return False

my_list = [1,2,3,4,9,10,15]
print(find_dup(my_list))

False

# Python Strings
Here are the examples on how Strings are in Python and commonly used string methods.

## String Declaration and Concatenation

In [ ]:
# String Declaration
string1 = "Hello"
string2 = 'World'

# String Concatenation
result = string1 + " " + string2
print(result)  # Output: Hello World

Hello World

##  String Indexing and Slicing

In [ ]:
my_string = "Python"

# Indexing
first_char = my_string[0]
last_char = my_string[-1]

# Slicing
substring = my_string[1:4]  # Gets characters from index 1 to 3
print("first char:", first_char)
print("last char:", last_char)
print("substring:", substring)  # Output: P n yth

first char: P
last char: n
substring: yth

## String Length

In [ ]:
my_string = "Hello, World!"

length = len(my_string)
print(length)  # Output: 13

13

## String Methods

In [ ]:
my_string = "   Hello, World!   "

# Strip whitespace
stripped_string = my_string.strip()

# Convert to lowercase and uppercase
lowercase = my_string.lower()
uppercase = my_string.upper()

# Replace
new_string = my_string.replace("Hello", "Hi")

print(stripped_string)
print(lowercase)
print(uppercase)
print(new_string)

Hello, World!
   hello, world!
   HELLO, WORLD!
   Hi, World!

### Count Substring occurrences

In [ ]:
my_string = "abracadabraarar"
substring = "ra"

# Count occurrences of a substring
count_occurrences = my_string.count(substring)

print(count_occurrences)  # Output: 2

3

### Check Start and End

In [ ]:
my_string = "Hello, World!"

# Check if the string starts or ends with a specific substring
starts_with_hello = my_string.startswith("Hello")
ends_with_world = my_string.endswith("World!")

print(starts_with_hello, ends_with_world)  # Output: True True

True True

### Check Character Types

In [ ]:
my_string = "abc123"

# Check if all characters are alphanumeric
is_alphanumeric = my_string.isalnum()

# Check if all characters are alphabetic
is_alpha = my_string.isalpha()

# Check if all characters are digits
is_digit = my_string.isdigit()

print(is_alphanumeric, is_alpha, is_digit)  # Output: True False False

True False False

### String Capitalization

In [ ]:
my_string = "hello world"

# Capitalize the first letter
capitalized_string = my_string.capitalize()

# Title case (capitalize the first letter of each word)
title_case_string = my_string.title()

print(capitalized_string, title_case_string)

Hello world Hello World

## String Formatting (f-strings)

In [ ]:
name = "Alice"
age = 30

# Using f-strings
formatted_string = f"My name is {name} and I am {age} years old."

print(formatted_string)

My name is Alice and I am 30 years old.

## String Splitting and Joining

In [ ]:
my_string = "apple,orange,banana"

# Split string into a list
fruits_list = my_string.split(',')

# Join list elements into a string
new_string = '-'.join(fruits_list)

print(fruits_list)
print(new_string)

['apple', 'orange', 'banana']
apple-orange-banana

## Checking Substrings

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"

# Check if a substring is present
contains_fox = "fox" in sentence

# Find the index of a substring
index_of_brown = sentence.find("brown")

print(contains_fox, index_of_brown)

True 10

## String Formatting with %

In [ ]:
name = "Bob"
age = 25

# Using % for formatting
formatted_string = "My name is %s and I am %d years old." % (name, age)

print(formatted_string)

My name is Bob and I am 25 years old.

## String formatting with `format`

In [ ]:
name = "Alice"
age = 30

# Using the format method for string formatting
formatted_string = "My name is {} and I am {} years old.".format(name, age)

print(formatted_string)

My name is Alice and I am 30 years old.

### Checking Membership

In [ ]:
fruits = ("apple", "orange", "banana")

# Check if an item is in the tuple
is_apple_present = "apple" in fruits
is_grape_present = "grape" in fruits

print(is_apple_present, is_grape_present)  # Output: True False

True False

## Returning Multiple Values from a Function

In [ ]:
def return_coordinates():
    x = 10
    y = 20
    z = 30
    return x, y, z

coordinates = return_coordinates()
print(coordinates)  # Output: (10, 20, 30)

(10, 20, 30)

# Coding Examples

## String in Uppercase
Write a function that takes a string as input and returns the string in uppercase.

In [ ]:
def to_uppercase(text):
  return text.upper()


input_string = input("Enter a string to be converted to uppercase:")
print(to_uppercase(input_string))

Enter a string to be converted to uppercase:wer
WER

## List with characters longer than 5
Write a function that takes a list of strings as input and returns a new list with all the strings that are longer than 5 characters.

In [ ]:
def long_strings(strings):
  return [string for string in strings if len(string) > 5]

my_list = ["python", "java", "c++", "go lang", "ruby", "c#", "javascript"]
print(long_strings(my_list))

['python', 'go lang', 'javascript']

## Check Palindrome
Palindrome - a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam.
Write a program to find whether the given string is palindrome or not.

In [ ]:
def is_palindrome(s):
  start = 0
  end = len(s) - 1
  while start < end:
    if s[start] != s[end]:
      return False
    start += 1
    end -= 1
  return True

input_string = input("Enter the string to check if palindrome or not:")
print(is_palindrome(input_string))

Enter the string to check if palindrome or not:sws
True

# Dictionaries in Python

## Creating a Dictionary

In [ ]:
# Creating a dictionary with key-value pairs
my_dict = {'a': 1, 'b': 2, 'c': 3}


# Creating a dictionary using the dict() constructor
another_dict = dict([('x', 1), ('y', 2), ('z', 3)])

## Dictionary Membership Testing

In [ ]:
# Check if a key is present in the dictionary
print('a' in my_dict)
print('d' in my_dict)

True
False

## Dictionary Methods

### get()

In [ ]:
# Retrieving value associated with a key
print(my_dict.get('a'))  # Output: 1
print(my_dict.get('d', 'Key not found'))  # Output: Key not found

### update()

In [ ]:
# Adding or updating elements in the dictionary
my_dict.update({'d': 4, 'e': 5})
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### pop()

In [ ]:
# Removing and returning an element from the dictionary
removed_value = my_dict.pop('a')
print(removed_value)  # Output: 1
print(my_dict)  # Output: {'b': 2, 'c': 3, 'd': 4, 'e': 5}

### clear()

In [ ]:
# Clearing all elements from the dictionary
my_dict.clear()
print(my_dict)  # Output: {}

In [ ]:
# Define a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Check membership
print('b' in my_dict)  # Output: True

# Iterate over items
for key, value in my_dict.items():
    print(key, "->", value)

# Update dictionary
my_dict.update({'d': 4})
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Dictionary Iteration

### Iterating Over Keys

In [ ]:
# Iterating over keys
for key in my_dict:
    print(key, "->", my_dict[key])

a -> 1
b -> 2
c -> 3

### Iterating Over Items (Key-Value Pairs)

In [ ]:
# Iterating over items (key-value pairs)
for key, value in my_dict.items():
    print(key, "->", value)

a -> 1
b -> 2
c -> 3

### Iterating Over Values

In [ ]:
# Iterating over values
for value in my_dict.values():
    print(value)

## Nested Dictionary

In [ ]:
# Creating a nested dictionary
nested_dict = {
    'person1': {'name': 'Alice', 'age': 30},
    'person2': {'name': 'Bob', 'age': 25}
}


# Accessing values in a nested dictionary
print(nested_dict['person1']['name'])  # Output: Alice
print(nested_dict['person2']['age'])   # Output: 25


# Modifying values in a nested dictionary
nested_dict['person1']['age'] = 35
print(nested_dict['person1'])  # Output: {'name': 'Alice', 'age': 35}


# Adding elements to a nested dictionary
nested_dict['person3'] = {'name': 'Charlie', 'age': 40}
print(nested_dict['person3'])  # Output: {'name': 'Charlie', 'age': 40}


# Iterating over a nested dictionary
for person, details in nested_dict.items():
    print("Person:", person)
    for key, value in details.items():
        print(key + ":", value)
    print()


# Nested dictionary with lists
nested_dict_with_list = {
    'person1': {'name': 'Alice', 'languages': ['Python', 'Java']},
    'person2': {'name': 'Bob', 'languages': ['C++', 'JavaScript']}
}

# Accessing list elements in a nested dictionary
print(nested_dict_with_list['person1']['languages'][0])  # Output: Python